ACCESS_TOKEN_EXPIRES_IN="20m"
ACCESS_TOKEN_SECRET="fGFIn+Eh4dYNpy45G)s$%e5%D4LMbYdm!hV!!ffRuBB7pSG*29d"
REFRESH_TOKEN_SECRET="IHA&bM7FHE#%h#%GP8)9cjJN(n#k&z*UPmHrPrLJ&)^a*NE^YCD"
JWT_EXPIRES_IN="20m"

CLOUDINARY_API_KEY="784837689171167"
CLOUDINARY_API_SECRET="dNUqvpe-x9vqDU9b_SDCrZtECNQ"
CLOUDINARY_CLOUD_NAME="dcuahubsh"


DB_HOST=""
DB_PASSWORD=""
DB_PORT=""
DB_USERNAME=""
DB_DATABASE=""

NODE_ENV="dev"

MAIL_HOST="gmail"
USER_EMAIL="omarsabra509@gmail"
EMAIL_PASS=gjlj pltw zemr utbq